.saveState {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
}

.iconSpin {
    animation: spinAnim 0.9s linear infinite;
    width: 16px !important;
    height: 16px !important;
}

@keyframes spinAnim {
    100% {
        transform: rotate(360deg);
    }
}