.deleteState {
    display: flex;
    align-items: center;
    font-size: 1.05em;
    font-weight: 500;
    gap: 0.6em;
    color: #861f1f;
}

.iconSpin {
    animation: spinAnim 0.9s linear infinite;
}

@keyframes spinAnim {
    100% {
        transform: rotate(360deg);
    }
}